<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWLoSnu2574ei3hgKErtgb8ZneTkbNr3I</string>
	<key>GCM_SENDER_ID</key>
	<string>485203469686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.paskluis.app</string>
	<key>PROJECT_ID</key>
	<string>paskluis-db53c</string>
	<key>STORAGE_BUCKET</key>
	<string>paskluis-db53c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485203469686:ios:07a41af5d687541c810657</string>
</dict>
</plist>